.footer-container {
  background: rgb(0,0,0);
  padding: 70px 45px;

  .footer-content {

    .footer-top {
      margin: 0 0 1.2rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.1em;
    }

    .footer-links {
      width: 70%;
      margin: 1rem auto 0;
      font-size: 0.9rem;
      overflow: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .ul {
        .li {
          list-style: none;
          line-height: 2.5;
        }
      }
    }

    .lang-switcher {

    }

    .footer-country {

    }
  }
}